@import "tailwindcss";

:root {
  --background: #FAFAFA;
  --foreground: #252B42;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* text color */
  --color-text-primary: #252B42;
  --color-text-secondary: #737373;
  --color-text-muted: #BDBDBD;
  --color-text-blue: #23A6F0;

  --color-primary-blue: #007AFF;
  --color-primary-green: #23856D;
  --color-light-gray: #FAFAFA;
  --color-light-blue: #DBECFF;
  --color-gray: #E0E0E0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, sans-serif;
}
